{% comment %} {% extends "base.html" %} {% endcomment %}
{% load static %}
<html>
<head>
<script src="https://kit.fontawesome.com/9357b5b30a.js"></script>
<link rel="stylesheet" type="text/css" href="{% static 'restaurant_tracker/style.css' %}">
</head>
<body>
{% block content%} 
    <div class="topnav">
        <a class="active" href="/restaurants">Restaurant List</a>
        <a >Tags</a>
    </div>
    <div id="content">
        {% block page %}
        {% endblock %}
    </div>
{% endblock content %}
</body>
</html>