{% extends "restaurant_tracker/base_restaurant.html" %}
{% load static %}
{% block page %}
<h2>Restaurants</h2>
<input type="text" id="search-bar" onkeyup="myFunction()" placeholder="Search restaurants...">
<a href="{% url 'restaurant_tracker:restaurant_create' %}">Add restaurant</a>
{% if restaurant_list %}
    <table id="restaurant-table">
    <tr>
        <th>Restaurant Name</th>
        <th>Rating</th>
        <th>Price</th>
        <th>Tags</th>
    </tr>
    {% for restaurant in restaurant_list %}
        <tr>
            <td id="name-column"><a href="{% url 'restaurant_tracker:detail' restaurant.id %}">{{ restaurant.name }}</a></td>
            <td id="rating-column">
                {% include "restaurant_tracker/star_snippet.html" with rating=restaurant.rating %}
            </td>
            <td id="price-column">
                {% include "restaurant_tracker/price_snippet.html" with price=restaurant.price %}
            </td>
            <td id="tag-column">
                {% for tag in restaurant.tags.all %}
                    {% include "restaurant_tracker/tag_display_snippet.html" with tag=tag%}
                {% endfor %}
            </td>
        </tr>
    {% endfor %}
    </table>
{% else %}
    <p> No restaurants are available.</p>
{% endif %}
<div id="filter-sidebar">

</div>
{% comment %} <script>
    function myFunction() {
    // Declare variables
    var input, filter, ul, li, a, i, txtValue;
    input = document.getElementById('myInput');
    filter = input.value.toUpperCase();
    ul = document.getElementById("restaurantList");
    li = ul.getElementsByTagName('li');

    // Loop through all list items, and hide those who don't match the search query
    for (i = 0; i < li.length; i++) {
        a = li[i].getElementsByTagName("a")[0];
        txtValue = a.textContent || a.innerText;
        if (txtValue.toUpperCase().indexOf(filter) > -1) {
        li[i].style.display = "";
        } else {
        li[i].style.display = "none";
        }
    }
    }
</script> {% endcomment %}
{% endblock page %}
