{% extends "restaurant_tracker/base_restaurant.html" %}
{% load static %}
{% block page %}
<h2>Restaurants</h2>
<input type="text" id="search-bar" onkeyup="myFunction()" placeholder="Search restaurants...">
<a href="{% url 'restaurant_tracker:restaurant_create' %}">Add restaurant</a>
{% if restaurant_list %}
    <table id="restaurant-table">
    <tr>
        <th>Restaurant Name</th>
        <th>Rating</th>
        <th>Price</th>
        <th>Tags</th>
    </tr>
    {% for restaurant in restaurant_list %}
        <tr>
            <td id="name-column"><a href="{% url 'restaurant_tracker:detail' restaurant.id %}">{{ restaurant.name }}</a></td>
            <td id="rating-column">
                {% if restaurant.rating == 0 %}
                {% elif restaurant.rating == 1 %}
                    <i class="fas fa-star-half-alt"></i>
                {% elif restaurant.rating == 2 %}
                    <i class="fas fa-star"></i>
                {% elif restaurant.rating == 3 %}
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star-half-alt"></i>
                {% elif restaurant.rating == 4 %}
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                {% elif restaurant.rating == 5 %}
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star-half-alt"></i>
                {% elif restaurant.rating == 6 %}
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                {% elif restaurant.rating == 7 %}
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i> 
                    <i class="fas fa-star-half-alt"></i>
                {% elif restaurant.rating == 8 %}
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i> 
                    <i class="fas fa-star"></i>
                {% elif restaurant.rating == 9 %}
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i> 
                    <i class="fas fa-star"></i> 
                    <i class="fas fa-star-half-alt"></i>
                {% elif restaurant.rating == 10 %}
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i> 
                    <i class="fas fa-star"></i> 
                    <i class="fas fa-star"></i>
                {% endif %}
            </td>
            <td id="price-column">
                {% if restaurant.price == 0 %}
                {% elif restaurant.price == 1 %}
                    <i class="fas fa-dollar-sign"></i>
                {% elif restaurant.price == 2 %}
                    <i class="fas fa-dollar-sign"></i>
                    <i class="fas fa-dollar-sign"></i>
                {% elif restaurant.price == 3 %}
                    <i class="fas fa-dollar-sign"></i>
                    <i class="fas fa-dollar-sign"></i>
                    <i class="fas fa-dollar-sign"></i>
                {% elif restaurant.price == 4 %}
                    <i class="fas fa-dollar-sign"></i>
                    <i class="fas fa-dollar-sign"></i>
                    <i class="fas fa-dollar-sign"></i>
                    <i class="fas fa-dollar-sign"></i>
                {% endif %}
            </td>
            <td id="tag-column">
                {% for tag in restaurant.tags.all %}
                    <div style="background:{{tag.color}}">
                        {% if tag.get_color_lightness >= 127 %}
                            <p class="tag-display" style="color:black">{{tag.name}}</p>
                        {% else %}
                            <p class="tag-display" style="color:white">{{tag.name}}</p>
                        {% endif %}
                    </div>
                {% endfor %}
            </td>
        </tr>
    {% endfor %}
    </table>
{% else %}
    <p> No restaurants are available.</p>
{% endif %}
<div id="filter-sidebar">

</div>
{% comment %} <script>
    function myFunction() {
    // Declare variables
    var input, filter, ul, li, a, i, txtValue;
    input = document.getElementById('myInput');
    filter = input.value.toUpperCase();
    ul = document.getElementById("restaurantList");
    li = ul.getElementsByTagName('li');

    // Loop through all list items, and hide those who don't match the search query
    for (i = 0; i < li.length; i++) {
        a = li[i].getElementsByTagName("a")[0];
        txtValue = a.textContent || a.innerText;
        if (txtValue.toUpperCase().indexOf(filter) > -1) {
        li[i].style.display = "";
        } else {
        li[i].style.display = "none";
        }
    }
    }
</script> {% endcomment %}
{% endblock page %}
