{% extends "restaurant_tracker/base_restaurant.html" %}
{% load static %}
{% block title %}Edit {{restaurant.name}}{% endblock title %}
{% block page %}
<form id="restaurant-form" method="post">{% csrf_token %}
    {% for field in form.visible_fields%}
        {% if forloop.first %}
            {% for hidden in form.hidden_fields %}
                {{ hidden }}
            {% endfor %}
        {% endif %}
        <p>
            <label id="{{ field.id_for_label }}_label" for="{{ field.id_for_label }}">{{ field.label }}:</label>
            {{ field }}
        </p>
    {% endfor %}
    <h2>Menu Items</h2>
    {{ menu_items.management_form }}  
    <table id="menu-items-table">
        <tr>
            <th>Name</th>
            <th>User</th>
            <th>Date</th>
            <th>Price</th>
            <th>Rating</th>
            <th>Comment</th>
            <th>Delete</th>
        </tr>
        <tr>
            <td colspan="7">
                <section>
                    <a class="add-new" href="{% url 'restaurant_tracker:menu_item_create' restaurant.id %}">Add menu item</a>
                </section>
            <td>
        </tr>
        {% for form in menu_items %}
            <tr>
                {% for field in form.visible_fields %}
                    <td id="{{field.label|lower}}-column">
                        {# Include the hidden fields in the form #}
                        {% if forloop.first %}
                            {% for hidden in form.hidden_fields %}
                                {{ hidden }}
                            {% endfor %}
                        {% endif %}
                        <div class="fieldWrapper">
                            {{ field.errors }}
                            {{ field }}
                            {% if field.help_text %}
                            <p class="help">{{ field.help_text|safe }}</p>
                            {% endif %}
                        </div>
                    </td>
                {% endfor %}
            </tr>
        {% endfor %}
    </table>
<input type="submit" value="Save">
</form>
<a href="{% url 'restaurant_tracker:detail' restaurant.id %}">Exit</a>
<script>
  $(function() {
    $('#restaurant-form').areYouSure(
      {
        message: 'It looks like you have been editing something. '
               + 'If you leave before saving, your changes will be lost.'
      }
    );
  });

</script>
{% endblock page %}