{% load static %}
{% load restaurant_tracker_extras %}
<span id="id_star-rating-{{ widget.name }}" class="star-rating">
    {% for star in stars %}
        {% if halfStars %}
            {% if star|divisibleby:2%}
                <label class="star-even" for="{{ widget.name }}-{{ forloop.counter0 }}"><i class="fa-solid fa-star-half"></i></label>
            {% else %}
                <label class="star-odd" for="{{ widget.name }}-{{ forloop.counter0 }}"><i class="fa-solid fa-star-half"></i></label>
            {% endif %}
        {% else %}
            <label for="{{ widget.name }}-{{ forloop.counter0 }}"><i class="fa-solid fa-star"></i></label>
        {% endif %}
        <input type="radio" name="{{ widget.name }}" id ="{{ widget.name }}-{{ forloop.counter0 }}"
            value ="{{ star }}" {% if widget.value == star|stringformat:'i' %}checked{% endif %} />
    {% endfor %}
</span>
<link rel="stylesheet" href="{% static 'restaurant_tracker/css/star_rating_style.css' %}" />