{% load static %}
<span id="id_star-rating-{{ widget.name }}" class="star-rating">
    {% for star in stars %}
        <label for="{{ widget.name }}-{{ forloop.counter0 }}"><i class="fas fa-star"></i></label>
        <input type="radio" name="{{ widget.name }}" id ="{{ widget.name }}-{{ forloop.counter0 }}"
            value ="{{ star }}" {% if widget.value == star|stringformat:'i' %}checked{% endif %} />
    {% endfor %}
</span>
<link rel="stylesheet" href="{% static 'restaurant_tracker/star_rating_style.css' %}" />